.FooterNavigation{
    margin-left: 50vh;
    margin-top: 15%;
}

.FooterNavigation ul{
    list-style: none;
    display: vertical;
    height: 100%;
}

.FooterNavigation li{
    text-decoration: none;
    padding: 2px 10px;
    box-sizing: border-box;
    font-weight: bold;
}

.FooterNavigation li a{
    color: white;
    text-transform: uppercase;
    border-bottom: 4px solid transparent;
}

.FooterNavigation a:hover,
.FooterNavigation a:active,
.FooterNavigation a.active{
    transition: 0.3s;
    /* background-color: rgb(99, 99, 161); */
    /* border-top: 4px solid #8F5C; */
    border-radius: 32px;
    border-bottom: 4px solid #10C9C3;
    color: #10C9C3;
}