.Container{
    height: 40vh;
    width: 100%;
    background-color: #10C9C3;
}

.InnerContainer{
    margin-top: 2%;
    padding-left: 5%;
    margin-right: 5%;
}

.InnerContainer h3{
    padding-bottom: 2%;
    color: #fff;
}