.Button{
    background-color:#10C9C3;
    border: 2px solid #10C9C3;
    text-transform: uppercase;
    border-radius: 5px;
    padding: 5px 20px 5px;
    color: #fefefe;
}

.Button:hover{
    transition: all 0.8s;
    background-color:#fefefe;
    border: 2px solid #10C9C3;
    color: #000;
}