.Toolbar{
    transition: all 1s;
    height: 66px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    box-sizing: border-box;
    z-index: 90;
    color: #000000;
}

.Active{
    /* background: linear-gradient(#10C9C3, #fefefefe); */
    /* background: linear-gradient(#10C9C3, #fefefefe); */
    transition: all 1s;
    background-color: #fefefe;
    height: 66px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    box-sizing: border-box;
    z-index: 90;
    color: #000000;
}


.Toolbar nav{
    height: 100%;
}

