.Input{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.Label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
}

.InputElement{
    outline: none;
    border: 1px solid #ccc;
    background-color: #fefefe;
    font-family: Tahoma, sans-serif;
    font: inherit;
    padding: 6px 10px;
    display: block;
    width: 100%;
    box-sizing: border-box;
}

.InputElement:focus{
    outline: none;
    background-color: #ccc;
}

.Invalid{
    border: 1px solid red;
    background-color: #fa887c;
}


.TextElement{
    width: 100%;
	height: 120px;
	border: 1px solid #cccccc;
	padding: 5px;
	font-family: Tahoma, sans-serif;
	background-position: bottom right;
	background-repeat: no-repeat;
}

.TextElement:focus{
    outline: none;
    background-color: #ccc;
}


.SelectElement{
    width: 100%;
    height: 35px;
	border: 1px solid #cccccc;
	padding: 5px;
	font-family: Tahoma, sans-serif;
	background-position: bottom right;
	background-repeat: no-repeat;
}

.SelectElement:focus{
    outline: none;
    background-color: #ccc;
}


