.SearchBar{
    width: 100%;
}   

.SearchBar input{
    border: none;
    border-style: none;
    width: 720px;
    height: 25px;
    padding: 5px 10px 5px;
    outline: none;
}

.SearchBar button{
    border: none;
    background-color: white;
}

.SearchBar .Wrapper{
    margin-left: 15px;
    border: 1px solid black;
    width: fit-content;
    padding: 5px 10px 5px; 
    border-radius: 4px;
}