.Container{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10%;
}


.Container img{
    max-width: 64px;
    max-height: 64px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.Container h3{
    color: #10C9C3;
    text-transform: uppercase;
    text-align:center;
}

.Container section{
    margin-top: 10%;
}

.innerContainer{
    margin-left: 35%;
}

.innerContainer label{
    margin-top: 10%;
}


.Container p{
    margin-top: 15%;
}