.Container {
    background-color: #10C9C3;
}

.Container h6{
    color: #fff;
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
    text-transform: lowercase;
    font-family: 'Noto Sans TC', sans-serif;
}

.ListItem{
    margin-top: 5%;
    background-color: #10C9C3;
    color: #fff;
    margin-bottom: 5%;
}