.Banner{
    height: 60vh;
    width: 100%;
    background-image: url("../../../../assets/home-footer.png");
    align-items: justify;
}


.Border{
    border: 2px solid transparent;
    /* padding-top: 10%; */
}


.Inner{
    border: 2px solid transparent;
    margin-top: 8%;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    background-color: #fefefe;
    padding: 40px 40px 40px;
    opacity: 0.7;
}

.Inner p{
    text-align: center;
    color: #000;
    font-size: 48px;
}

.Inner Button{
    margin-top: 2px;
    margin-left: 40%;
    margin-right: auto;
}
